---
- name: Create {{ htools_groupname }} group
  group:
    name: '{{ htools_groupname }}'
    state: present
  become: true

- name: Create {{ htools_username }} user
  user:
    name: '{{ htools_username }}'
    shell: /bin/bash
    groups: '{{ htools_groupname }}'
  become: true

- name: Create hybris directory and set permissions
  file:
    path: '{{ htools_hybris_path }}'
    owner: '{{ htools_username }}'
    group: '{{ htools_groupname }}'
    state: directory
    recurse: true
  become: true

- name: Add localaddr record to hosts
  blockinfile:
    path: /etc/hosts
    block: '{{ ansible_default_ipv4.address }} localaddr'
    marker: '# {mark} ANSIBLE MANAGED BLOCK'
  when: set_localaddr
  become: true

- name: Create hybris service files
  template:
    src: hybrisd.service.j2
    dest: '{{ hybrisd_service_path }}'
    owner: root
    group: root
    mode: 0644
    backup: true
  become: true
  notify:
    - propagate hybrisd

- name: Create profile file
  template:
    src: hybris_env.j2
    dest: '{{ hybris_env_path }}'
    owner: root
    group: root
    mode: 0644
  become: true
