# may the force be with you

hybris_path = "{{ htools_hybris_path }}"
hybris_custom_ant_targets_path = "{{ hybris_env_custom_ant_targets_path }}"
platform_home = "{{ hybris_env_platform_home }}"

ant_home = "{{ hybris_env_ant_home }}"

username = "{{ htools_username }}"
groupname = "{{ htools_groupname }}"

download_dir = "{{ htools_download_dir }}"
download_mask = "{{ htools_download_mask }}"
upload_dir = "{{ htools_upload_dir }}"
remove_packages = {{ htools_remove_packages }}
purge_hybris_home = {{ htools_purge_hybris_home }}
keep_log_dir = {{ htools_keep_log_dir }}

legacy_structure = {{ htools_legacy_structure }}

env_type = "{{ htools_env_type }}"
server_type = "{{ htools_server_type }}"
artifact_storage = "{{ htools_artifact_storage }}"

tomcat_wrapper = "{{ htools_tomcat_wrapper }}"

initialization_error_strings = "{{ htools_initialization_error_strings }}"
initialization_log_check = {{ htools_initialization_log_check }}
