# may the force be with you

hybris_path = "{{ htools.hybris_path }}"
hybris_custom_ant_targets_path = "{{ hybris_env.custom_ant_targets_path }}"
platform_home = "{{ hybris_env.platform_home }}"

ant_home = "{{ hybris_env.ant_home }}"

username = "{{ htools.username }}"
groupname = "{{ htools.groupname }}"

download_dir = "{{ htools.download_dir }}"
download_mask = "{{ htools.download_mask }}"
upload_dir = "{{ htools.upload_dir }}"
remove_packages = {{ htools.remove_packages }}
purge_hybris_home = {{ htools.purge_hybris_home }}
keep_log_dir = {{ htools.keep_log_dir }}

legacy_structure = {{ htools.legacy_structure }}

env_type = "{{ htools.env_type }}"
server_type = "{{ htools.server_type }}"
artifact_storage = "{{ htools.artifact_storage }}"

tomcat_wrapper = "{{ htools.tomcat_wrapper }}"

initialization_error_strings = "{{ htools.initialization_error_strings }}"
initialization_log_check = {{ htools.initialization_log_check }}
