[Unit]
Description=Service for run Hybris as a service
After=syslog.target
After=network.target

[Service]
Type=forking
PIDFile={{ hybrisd_service_pid }}
WorkingDirectory={{ hybrisd_service_platform_home }}

User={{ hybrisd_service_username }}
Group={{ hybrisd_service_groupname }}

OOMScoreAdjust=-100
ExecStart=/bin/bash -c './{{ hybrisd_service_exec }} start'
ExecStop=/bin/bash -c './{{ hybrisd_service_exec }} stop'

TimeoutSec={{ hybrisd_service_timeout }}
Restart={{ hybrisd_service_restart }}

[Install]
WantedBy=multi-user.target
