export PLATFORM_HOME={{ hybris_env_platform_home }}
export ANT_OPTS="{{ hybris_env_ant_opts }}"
export ANT_HOME={{ hybris_env_ant_home }}
export PATH=$ANT_HOME/bin:$PATH
export PATH={{ htools_hybris_tools_path }}:$PATH
