export PLATFORM_HOME={{ hybris_env.platform_home }}
export ANT_OPTS="{{ hybris_env.ant_opts }}"
export ANT_HOME={{ hybris_env.ant_home }}
export PATH=$ANT_HOME/bin:$PATH
export PATH={{ htools.hybris_tools_path }}:$PATH
